*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
}
.body{
  background-color: rgb(29, 28, 29);
  padding: 0 7vw;
  user-select: none;
}
header{
  height: 70px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div:nth-child(1) img{
  width: 90px;
}
header div:nth-child(2) ul , header div:nth-child(3) ul {
  display: flex;
  font-weight: bold;
  color : rgb(255, 255, 255);
  font-size: 13px;
  
}
header div:nth-child(2) ul li , header div:nth-child(3) ul li {
  margin: 0 5px;
  padding: 5px 20px;
  border: 1.5px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
header div:nth-child(2) ul li:hover , header div:nth-child(3) ul li:hover{
  border: 1.5px solid white;
}

.section1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.section1 div:nth-child(1){
  width: 350px;
  color: whitesmoke;
}
.section1 div:nth-child(1) h1{
  font-size: 3.5em;
}
.section1 div:nth-child(1) h3{
  font-size: 15px;
  text-align: justify;
  font-weight: 700;
  margin-bottom: 15px;
  
}
.section1 div:nth-child(2) img{
  width: 600px;
  margin-right: 10px;
  
}


.btn-1{
  margin: 0 5px;
  padding: 5px 20px;
  border: 1.5px solid whitesmoke;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-1:hover{
  background-color: whitesmoke;
  color:black;
}
.section2{
  margin: 80px 0;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section2 h1{
  font-size: 2.5rem;
}
.section2 .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
}
.section2 .container div{
  cursor: pointer;
  margin-top: 30px;
  background-color: rgb(0, 0, 0);
  border: 1px solid whitesmoke;
  border-radius: 5px;
  height: 320px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transfrom  0.3s;
}
