<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
    
</head>
<body>
  
 <div class="body-menu">
  <header>
    <div>
      <img src="./image/SKy_CAFE.ico" alt="logo" id="logo-image">
    </div>
  <div>
    <ul>
      

        <li><a href="#section2">Lunch</a></li>
        
       <li><a href="#section3">Dinner</a></li>
        
         <li><a href="#section4">Drink</a></li>
         <li><a href="#section4">Dessert</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><a href="/menu">Back</a></li>
      
    </ul>
  </div>


</header>
<hr>

<div class="menu" id="section2">
  
  <h1>Breakfast</h1>
  
    <div class="container">
      <% breakfastFoodItems.forEach(item => { %>
      <div>
        <img src="../image/<%= item.food_image %>" alt=".">
        <a  href="/food-details/<%= item.food_name %>">
        <h4><%= item.food_name %></h4> 
    </a>
      </div>
      <% }) %>
      

     
  </div>
    
   </div>
   
   

 </div>
 <% if (breakfastFoodItems.length === 0) { %>
    <p>No breakfast items found matching the criteria.</p>
<% } %>
 <script src="/JavaScript/script.js"></script>
</body>
</html>
