<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
    
</head>
<body>
 <div class="body">
  <header>
    <div>
      <img src="./image/SKy_CAFE.ico" alt="logo" id="logo-image">
    </div>
  <div>
    <ul>
      <li><a href="#section1">HOME</a></li>

        <li><a href="#section2">GALLERY</a></li>
        
       <li><a href="#section3">ABOUT US</a></li>
        
         <li><a href="#section4">CONTACT US</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><a href="#">REVIEWS</a></li>
      <li><a href="#">RATE</a></li>
    </ul>
  </div>


</header>
<hr>
 
 <div class = "section1" id="section1">
  <div>
  <h1>လက်ဖက်ရည်</h1>
  <h3>မြန်မာ့ လက်ဖက်ရည်သည် မြန်မာပြည်ရှိလူတိုင်းနီးပါးနှင့်ရင်းနှီးနေပြီးသောအရာဖြစ်သည်။နေရာတိုင်းလိုလိုတွင် လက်ဖက်ရည်ရောင်းသောလက်ဖက်ရည်ဆိုင်ရှိသည်။လက်ဖက်ရည်ကို ချိုစိမ့်၊ ကျစိမ့်၊ ပေါ့ကျ၊ ပေါ့စိမ့် စသဖြင့် အရသာပေါင်းစပ်နည်းမျိုးစုံဖြင့် သောက်သုံးကြသည်။</h3>
  <button class="btn-1">Order now</button>
  </div>
  <div>
    <img src="./image/Selontea.png" alt="လက်ဖက်ရည်">

  </div>

 </div>
 <hr>
 <div class="section2" id="section2">
  <h1>GALLERY</h1>
  <div class="container">
    <div>
      <img src="./image/Mokhinkrr.jpg" alt=".">
      <h4>မုန့်ဟင်းခါး</h4>
    </div>
    <div>
      <img src="./image/Shan.webp" alt=".">
      <h4>ရှမ်း</h4>
    </div>
    <div>
      <img src="./image/Nangyitok.jpg" alt=".">
      <h4>နန်းကြီးသုပ်</h4>
    </div>
    <div>
      <img src="./image/Moktitok.jpg" alt=".">
      <h4>ရခိုင်မုန့်တီသုပ်</h4>
    </div>
  </div>
 </div>
 <hr>
 <div class="section3" id="section3">
  <div>
    <img src="./image/ABOUTUSTEA.png" alt="Tea">
  </div>
  <div>
    <h1>ABOUT US</h1>
    <p>Nestled in the charming city of Mandalay, SKY CAFE is more than just a café  it’s a destination for dreamers, thinkers, and tea enthusiasts seeking a little slice of tranquility. At SKY CAFE, we celebrate the vibrant culture and warmth of Mandalay, creating a space where everyone feels at home and inspired.

      Our story began with a passion for tea and a vision to craft a haven for connection and relaxation. From our carefully sourced leaves to our thoughtfully curated menu, every detail at SKY CAFE reflects our commitment to exceptional quality, community spirit, and sustainability.
      
      Whether you’re a Mandalay local or a traveler passing through, SKY CAFE invites you to escape the ordinary. Come for the tea, stay for the ambiance, and let us create memories together, one cup at a time.
    </p>
  </div>
 </div>
 
 <div class="section4" id="section4">
  <h1>
    CONTACT US
  </h1>
  <div class="container">
    <div>
      <h3>EMAIL:</h3>
      <p>Skycafe@gmail.com</p>
      <h3>PHONE:</h3>
      <p>091234567890</p>
      <h3>ADDRESS:</h3>
      <p><pre> No. 123, SKY Road, Mandalay City,
 Myanmar
      </pre></p>
    </div>
    <div>
      <form action="">
       <input type="text" placeholder="Name" >
       <input type="email" placeholder="Email" >
       <textarea placeholder="Text"></textarea>
       <button type="submit" class="btn-2">Submit</button>
      </form>
    </div>
    
      
    
  </div>
 </div>
</div>


<footer>
  <div class="footer">
    <div class="f1">
      <div>
        <img src="./image/SKy_CAFE.ico" alt="logo">
      </div>
      <div class="section4">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
    <div class="f2">
      <h4>QUICK LINKS</h4>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instargram</a>
      <a href="#">YouTube</a>
    </div>
    <div class="f3">
      <h4>CONTACT</h4>
      <p>X-STAR</p>
    </div>
    <div class="f4">
      <h4>SUBSCRIBE NEWSLETTER</h4>
      <p>Ever wonder what’s brewing? Subscribe to uncover our café secrets!</p>
      <div>
        <input type="email" placeholder="Enter Your Email">
        <i class="fa-sharp fa-solid fa-arrow-right"></i>
      </div>
    </div>
  </div>
  <div class="footersec">&copy; All Rights Reserved by Developer X-Star </div>
</footer>
<script src="/JavaScript/script.js"></script>


</body>
</html>
