<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
    
</head>
<body>
 <div class="body">
  <header>
    <div>
      <img src="./image/SKy_CAFE.ico" alt="logo">
    </div>
  <div>
    <ul>
      <li>HOME</li>
      <li>ABOUT</li>
      <li>GALLERY</li>
      <li>CONTACT US</li>
    </ul>
  </div>
  <div>
    <ul>
      <li>REVIEWS</li>
      <li>RATE</li>
    </ul>
  </div>


</header>
 
 <div class = "section1">
  <div>
  <h1>လက်ဖက်ရည်</h1>
  <h3>မြန်မာ့ လက်ဖက်ရည်သည် မြန်မာပြည်ရှိလူတိုင်းနီးပါးနှင့်ရင်းနှီးနေပြီးသောအရာဖြစ်သည်။နေရာတိုင်းလိုလိုတွင် လက်ဖက်ရည်ရောင်းသောလက်ဖက်ရည်ဆိုင်ရှိသည်။လက်ဖက်ရည်ကို ချိုစိမ့်၊ ကျစိမ့်၊ ပေါ့ကျ၊ ပေါ့စိမ့် စသဖြင့် အရသာပေါင်းစပ်နည်းမျိုးစုံဖြင့် သောက်သုံးကြသည်။</h3>
  <button class="btn-1">Order now</button>
  </div>
  <div>
    <img src="./image/Selontea.png" alt="လက်ဖက်ရည်">

  </div>

 </div>
 <hr>
 <div class="section2">
  <h1>အစားအစာများ</h1>
  <div class="container">
    <div>
      <img src="./image/Mokhinkrr.jpg" alt=".">
      <h4>Food Name</h4>
      <i class="fa-solid fa-arrowiright"></i>
    </div>
    <div>
      <img src="./image/Shan.webp" alt=".">
      <h4>Food Name</h4>
      <i class="fa-solid fa-arrowiright"></i>
    </div>
    <div>
      <img src="./image/Nangyitok.jpg" alt=".">
      <h4>Food Name</h4>
      <i class="fa-solid fa-arrowiright"></i>
    </div>
    <div>
      <img src="./image/Moktitok.jpg" alt=".">
      <h4>Food Name</h4>
      <i class="fa-solid fa-arrowiright"></i>
    </div>
  </div>
 </div>
</div>
</body>
</html>