<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
    
</head>
<body>
  
 <div class="body-menu">
  <header>
    <div>
      <img src="./image/SKy_CAFE.ico" alt="logo" id="logo-image">
    </div>
  <div>
    <ul>
      <li><a href="#section2">Breakfast</a></li>

        <li><a href="#section2">Lunch</a></li>
        
       <li><a href="#section3">Dinner</a></li>
        
         <li><a href="#section4">Drink</a></li>
         <li><a href="#section4">Dessert</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><a href="#">REVIEWS</a></li>
      <li><a href="#">RATE</a></li>
    </ul>
  </div>


</header>
<hr>

<div class="menu" id="section2">
  
  <h1>Menu</h1>
  
    <div class="container">
      <% food.forEach(food => { %>
      <div>
        <img src="../image/<%= food.food_image %>" alt=".">
        <a  href="/food-details/<%= food.food_name %>">
        <h4><%= food.food_name %></h4> 
    </a>
      </div>
      <% }) %>
      

     
  </div>
    
   </div>
   
   

 </div>
 <script src="/JavaScript/script.js"></script>
</body>
</html>
